html{
    overflow-x: hidden;
}
body{
    width:100%;
    height:100%;
    font-family: 'Asul', serif;
}

#head{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}
.headerChild{
    
}
#profilePic{

}
/*Have username display like an exponent for the name*/
#userName{
}
#userTag{
}
#bio{
}

/*profile pic reduces in size when width of screen lessens*/

#works{
    text-align: center;
}

/*navigation bar*/
.navigation ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.navigation li{
    width: 33.33%;
    float: left;
    text-align: center;
}
.navigation li a {
    display: block;
    padding:10px;
    color: wheat;
    background-color: #4357AD;
    text-decoration: none;
}
.navigation li a:hover{
    background-color: #FFA500;
    color: black;
}

/*scrolls cover picture, title, price, and buy button*/
.scrollHolder{
    width: 100%;
    display: inline-block;
    border: solid black;
}

.scroll{
    float: left;
    width:25%;
    padding-bottom: 20px;
    
}

.coverPic{
    height:100px;
}

/*Social media links*/
.socials{
    width: 100%;
}
.socialsLogo {
    width:20px;
    height: 20px;
}
